.featured {
    margin-top: 5rem;
}

.featured .featured-text {
    text-align: center;
    margin: 1rem 0;
}

.featured .container {
    --gap: 1.2rem;
    --num-cols: 5;
    --row-height: 300px;

    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.featured .container img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.span-3 {
    grid-column: span 3;
}

.span-2 {
    grid-column: span 2;
}

.span-5 {
    grid-column: span 5;
    margin-top: 0rem;
    
}

.image-grid-row-2 {
    grid-row: span 2;
}

.info {
    display: flex;
    grid-column: span 1;
    justify-content: center;
    align-items: center;
    margin: 0rem 0;
    text-align: center;
    font-size: large;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center; 
    align-items: center;
}

.img-details {
    display: grid;
    place-items: center;
    --row-height: 50px;
}

.img-details .discription {
    padding: 0rem 3rem 1rem 3rem;
}

.right-image-details .btn {
    margin: 1rem 0;
}

.featured .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.featured .info {
    display: flex;
    justify-content: space-between;
    margin: .8rem 0;
    width: 60%;
}
